.header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h1 {
  font-size: $font-header;
  background-color: $color-background;
}

.h2 {
  margin-bottom: 10px;
  font-size: $font-h2;
  text-align: center;
}

.image {
  margin-bottom: 15px;
}

.rules-wrapper {
  width: 50%;
  background-color: $color-background;
}

.select {
  width: 120px;
}

.message {
  font-size: $font-header;
}

.card {
  background-color: $color-light;
  font-family: $font-family;
}

.fullWidth {
  width: 800px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 600px;
}

.space {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  &Score {
    align-self: flex-start;
    max-width: 800px;
    background-color: $color-background;
  }
}
