.header {
  margin: 0 auto 118px;
}

.image {
  padding-bottom: 15px;
}

.card {
  width: calc($card-width - 2 * $border-size);
  min-height: calc($card-height - 2 * $border-size);
  margin-bottom: 138px;
}

.h2 {
  margin: 30px auto;
  text-align: center;
  font-size: $font-header;
  line-height: $font-header-line-height;
}

.text {
  font-size: $font-h2;
  line-height: $font-h2-line-height;
  margin: 0 auto;
}
