.container {
  position: relative;
  margin-bottom: 1rem;
}

.label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 1rem;
  z-index: 10;
}

.input {
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  border-radius: 0;
  border: 0;
}

.container.focused .label,
.input:focus + .label,
.input:valid + .label {
  top: -20px;
  left: 0.75rem;
  font-size: 0.75rem;
}
